/* global */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  max-width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  text-rendering: optimizeLegibility;
  font-family: UbuntuMono,"PingFang SC","Microsoft YaHei",Helvetica,Arial,Menlo,Monaco,monospace,sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* layout */
.lineflex {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.lineflex-v {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* index */
.view {
  width: 100vw;
  height: 100vh;
}

.content {
  width: 100vw;
  height: calc(100vh * 11 / 12);
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #FDFDFE;
  height: calc(100vh * 1 / 12);
  line-height: calc(100vh * 1 / 12);
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 32px;
  height: calc(100vh / 12);
}

.global {
  height: calc(100vh * 11 / 12);
  width: 100%;
}

.header {
  background-color: #0078D7;
  height: calc(100vh * 1 / 6);
  width: calc(100vw);
  line-height: calc(100vh * 1 / 6);
  border: 1px #8792A1 solid;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
  position: fixed;
}

.header-fullpage {
  background-color: #0078D7;
  height: calc(100vh * 1 / 12);
  width: calc(100vw);
  position: fixed;
  line-height: calc(100vh * 1 / 12);
  border: 1px #8792A1 solid;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.header-row {
  width: 100%;
  line-height: calc(100vh * 1 / 12);
}

.main-content {
  overflow: scroll;
  height: calc(100vh * 3 / 4);
  top: calc(100vh * 1 / 6);
  position: fixed;
  width: 100%;
}

.main-content-fullpage {
  overflow: scroll;
  top: calc(100vh * 1 / 6);
  height: calc(100vh * 5 / 6);
  position: fixed;
  width: 100%;
}

.main-content-fullpage-small {
  overflow: scroll;
  top: calc(100vh * 1 / 12);
  height: calc(100vh * 11 / 12);
  position: fixed;
  width: 100%;
}

/* conf */

.smallbox {
  margin-left: 10px;
  margin-right: 10px;
}

.titlebox {
  /* margin-top: 10px;
  margin-bottom: 10px; */
  margin-left: 20px;
  margin-right: 20px;
}

.fwhite {
  color: #FFFFFF;
}

.bwhite {
  background: #FFFFFF;
  color: #0060AC;
}

.fgrey {
  color: #808080;
}

.fblack {
  color: #000000;
}

.large {
  font-size: 32px;
}

.middle {
  font-size: 24px;
}

.small {
  font-size: 18px;
}

.exsmall {
  font-size: 15px;
}

.bold {
  font-weight: bold;
}

/* widgets */
.normal-button-dark {
  width: calc(100vw * 1 / 8);
  min-width: 80px;
  margin-top: 5px;
  margin-bottom: 5px;
  height: calc(100vh * 1 / 16);
  line-height: calc(100vh * 1 / 12);
  padding-left: 5px;
  padding-right: 5px;
  background-color: #0060AC;
  border-radius: calc(100vh * 1 / 32);
  text-align: center;
  display: block;
}
/* .normal-button-dark:hover {
  background-color: #1970B5;
} */

.rectangle-block {
  width: 100%;
  min-height: calc(100vh * 1 / 6);
}

.gap {
  background-color: #FFFFFF; 
  z-index: 0;
}

.switch-button, .switch-button1 {
  width: calc(100vw * 1 / 6);
  min-width: 120px;
  height: calc(100vh * 1 / 16);
  line-height: calc(100vh * 1 / 12);
  background-color: #0060AC;
  border-radius: calc(100vh * 1 / 32);
  text-align: center;
}

.textbutton {
  color: #5588BB;
  text-decoration: none;
}
.textbutton:hover, .textbutton:active {
  cursor: pointer;
}

.switch-button .enable, .switch-button1 .enable {
  background-color: #FFFFFF;
  color: #0060AC;
  width: calc(100vw * 1 / 12);
  min-width: 60px;
  height: calc(100vh * 1 / 16);
  line-height: calc(100vh * 1 / 12);
  border-radius: calc(100vh * 1 / 32);
  text-align: center;
}

.switch-button .disable, .switch-button1 .disable {
  color: #FFFFFF;
  background-color: #0060AC;
  width: calc(100vw * 1 / 12);
  min-width: 60px;
  height: calc(100vh * 1 / 16);
  line-height: calc(100vh * 1 / 12);
  border-radius: calc(100vh * 1 / 32);
  text-align: center;
}

.wide-button {
  width: calc(100vw - 20px);
  margin: 10px;
  padding: 16px 0px;
  background-color: #0078D7;
  border-radius: 6px;
  border: 1px #5588BB solid;
  outline: none;
  font-size: 18px;
  color: #FFFFFF;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}
.wide-button:hover {
  background-color: #0377DD;
}
.wide-button:active {
  background-color: #0268CE;
}

.floating-button {
  position: fixed;
  bottom: calc(100vh * 1 / 12 + 20px);
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #0377D6;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 24px;
  text-align: center;
  width: 48px;
  height: 48px;
}

.floating-button:active {
  background-color: #0060AC;
}

.normal-left-padding {
  padding-left: 10px;
}

.empty-box-32 {
  width: 32px;
  height: 32px;
}

.text {
  outline: none;
  font-size: 18px;
  width: calc(100vw - 52px);
  margin: 10px;
  padding: 16px 16px;
  border-radius: 6px;
  border: 1px #8792A1 solid;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

.textarea {
  outline: none;
  font-size: 18px;
  width: calc(100vw - 52px);
  height: calc(100vh / 5);
  margin: 10px;
  padding: 16px 16px;
  border-radius: 6px;
  border: 1px #8792A1 solid;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

/* content */
.item-card {
  height: calc(100vh * 1 / 12);
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #FCFCFC;
  border: 0px #dcdddf solid;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.item-card .left-part {
  width: 64px;
  /* float: left; */
  text-align: center;
  vertical-align: middle;
  height: calc(100vh * 1 / 12);
  line-height: calc(100vh * 1 / 12);
}

.item-card .right-part {
  width: calc(100vw - 64px);
  /* float: right; */
}

.item-card .title {
  font-size: 18px;
  width: calc(100vw - 64px - 200px);
  color: #000000;
}

.item-card .time {
  color: #505050;
  font-size: 15px;
  margin-right: 5px;
}

.item-card .place {
  font-size: 16px;
  color: #606060;
}

.item-card .desc {
  color: #808080;
  font-size: 16px;
}

.item-card:active {
  background-color: #EEEEEE;
}

.panel {
  border: 0px #dcdddf solid;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
.panel-item {
  line-height: 56px;
  border-top: 1px #808080 solid;
}
.panel-item-first {
  line-height: 56px;
}
.panel-title {
  line-height: 56px;
}
.userinfo-panel:active {
  background-color: #EEEEEE;
}

.userinfo-panel {
  height: calc(100vh * 1 / 6);
  line-height: calc(100vh * 1 / 6);
}

.avatarbox {
  width: 64px;
  height: 64px;
  color: #000000;
  border-radius: 5px;
}

.usernamebox {
  width: calc(100vw - 64px - 40px);
  line-height: 32px;
}

.spec-middle-panel-item {
  width: calc(100vw - 32px - 32px - 20px);
  text-align: left;
}
.panel-item .left-part, .panel-item-first .left-part {
  width: 64px;
  /* float: left; */
  text-align: center;
  vertical-align: middle;
  height: calc(100vh * 1 / 12);
  line-height: calc(100vh * 1 / 12);
}

.panel-item .right-part, .panel-item-first .right-part {
  width: calc(100vw - 64px);
  height: calc(100vh * 1 / 12);
  line-height: calc(100vh * 1 / 12);
  /* height: 64px; */
  /* float: right; */
}

.panel-item .title, .panel-item-first .title {
  font-size: 18px;
  color: #000000;
}

.panel-item .time, .panel-item-first .time {
  color: #505050;
  font-size: 15px;
  margin-right: 5px;
}

.panel-item .place, .panel-item-first .place {
  font-size: 16px;
  color: #606060;
}

.panel-item .desc, .panel-item-first .desc {
  color: #808080;
  font-size: 16px;
}

.panel-item:active, .panel-item-first:active {
  background-color: #EEEEEE;
}